* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
}

body {
  background-color: #f6f6f9;
}

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  position: relative;
}

.navbar {
  padding: 20px 4%;
  background-color: #dedee5;
  text-align: center;
}

.navbar__header {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__btn-menu {
  display: none;
  background-color: transparent;
  color: #444294;
  font-size: 32px;
  z-index: 2;
}

.navbar__logo {
  width: 100%;
  max-width: 200px;
}

.navbar__nav {
  width: 100%;
  max-width: 200px;
  margin-top: 40px;
  text-align: left;
  display: inline-block;
}

.navbar__title {
  color: #454545;
  margin-bottom: 30px;
}

.navbar__item-list {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #555555;
}

.navbar__item-list a {
  text-decoration: none;
  color: #555555;
}

.navbar__item-list:first-child {
  margin: 0 0 20px 0;
}

.navbar__item-list:last-child {
  margin: 20px 0 0 0;
}

.feed {
  display: grid;
  grid-template-columns: 1fr 400px;
  justify-content: center;
  gap: 40px;
  overflow-y: scroll;
  position: relative;
  padding: 0 2%;
}

.feed-account {
  grid-template-columns: 1fr;
}

.feed-menu,
.feed-menu-mobile {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #444294;
  font-size: 32px;
  background-color: transparent;
}

.feed-menu-mobile {
  display: none;
}

.feed__post {
  margin: 40px auto;
  padding: 30px 3%;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #00000029;
}

.feed__solicitations {
  height: 600px;
  margin-top: 100px;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #00000029;
  background-color: #ffffff;
  display: block;
}

.feed__solicitations__list {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.feed__solicitations__title {
  color: #454545;
  font-size: 26px;
}

.feed__solicitations__user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  color: #757575;
  padding: 12px 2%;
  border-bottom: 1px solid #00000029;
}

.feed__solicitations__user:last-child {
  border-bottom: 0;
}

.feed__solicitations__user__photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.feed__solicitations__user__name {
  color: #555555;
  margin-bottom: 8px;
  font-size: 18px;
}

.feed__solicitations__user__link {
  color: #4888ff;
  font-size: 16px;
}

.feed__post:nth-of-type(1) {
  margin-top: 100px;
}

.feed__post__header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.feed__post__name-user {
  font-size: 20px;
  font-weight: 500;
  color: #454545;
}

.feed__post__time-post {
  color: #757575;
  font-size: 12px;
  font-weight: lighter;
}

.feed__post__content {
  margin-top: 30px;
}

.feed__post__text {
  color: #555555;
  margin-bottom: 30px;
}

.feed__post__img-post {
  width: 100%;
  max-width: 300px;
}

.feed__post__content__box-imgs,
.feed__footer {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.feed__footer {
  margin-top: 20px;
}

.feed__footer__button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  color: #d3d8e0;
}

.feed__footer__icon {
  width: 32px;
  height: 32px;
}

.feed__footer__text-btn {
  font-size: 20px;
  text-transform: uppercase;
}

.friends-box {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 60px;
}

.community-box {
  width: 100%;
}

.friends-box__title,
.community-box__title {
  font-size: 26px;
  color: #454545;
}

.list-items {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.list-items__box {
  width: 100%;
  max-width: 450px;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 40px;
}

.list-items__name {
  color: #454545;
  margin-bottom: 20px;
  font-size: 18px;
}

.list-items__email {
  color: #a3a3a3;
}

.list-items__img {
  width: 150px;
  height: 100%;
}

.list-items__link-solicitation {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #4888ff;
  border: 1px solid #4888ff;
  padding: 8px;
  border-radius: 8px;
  display: block;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .feed {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }

  .feed__post__img-post {
    max-width: 200px;
  }

  .feed__posts {
    grid-row: 2 / 3;
  }

  .feed__solicitations {
    grid-row: 1 / 2;
  }

  .feed__post:nth-of-type(1) {
    margin-top: 0;
  }

  .feed__solicitations {
    height: 400px;
  }
}

@media (max-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  .navbar__logo {
    max-width: 150px;
  }

  .navbar__btn-menu {
    display: block;
  }

  .feed-menu {
    display: none;
  }

  .feed-menu-mobile {
    display: block;
  }

  .feed__post__header {
    flex-direction: column;
    justify-content: center;
  }

  .feed__post {
    text-align: center;
  }

  .feed__footer {
    justify-content: center;
  }
}

.navbar__item-list--active {
  color: #454545;
  font-weight: bold;
}

.grid--navbar-hidden,
.grid-account--hidden {
  grid-template-columns: 1fr;
}

.navbar--hide {
  display: none;
}

.navbar--active {
  display: block;
}
